/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	overflow: hidden;
	user-select: none;
}

/*
 * Custom scrollbar thanks to: https://scottspence.com/posts/change-scrollbar-color-tailwind-css
 */

*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: #ffffff10;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #282c34;
	border-radius: 5px;
	border: solid #ffffff20 1px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	text-align: center;
	font-size: medium;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: larger;
}

h4 {
	font-size: large;
}
